{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%}
    <title>Task List</title>
    {%endblock%}
    <link rel="stylesheet" href="{% static 'css/tasks_list.css' %}">

</head>
<body>
    <br><br>
    <div class="container">
        <h1>Task List</h1>

        <div class="button-class">
        <button id="toggle-form-btn" class="add-task-button"><strong>+ </strong>Add Task</button>
        </div>
        <div id="create-form-container">
            <form method="POST" id="create-form">
                {% csrf_token %}
                {{form.as_p}}
                <div class="button-class">
                <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>        
        </div>

            <table id="task-list">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Time</th>
                        <th>Created At</th>
                        <th>Complete </th>
                        <th>Commands</th>
                    </tr>
                </thead>
                <tbody>
                    {% if tasks_pinned %}
                        <button id="unpin-all-tasks" class="btn btn-danger">Unpin all tasks</button>
                    {%endif%}
                        {% for task in tasks %}
                        <tr>
                            <td data-task-id="{{ task.pk }}" class="pinned-icon">
                                {% if task.pinned %}
                                    <span><i class="fa-solid fa-thumbtack" ></i></span>
                                    <strong style="color: Red;">{{task.task}}</strong>
                                {%else%}
                                    {{task.task}}
                                {% endif %}
                            </td>
                            <td>{{ task.task_due|date:"H:i" }}</td>
                            <td>{{ task.created_at }}</td>
                            <td>
                                <form id="completion-form-{{ task.id }}" method="POST" action="{% url 'task_completion' task.pk %}">
                                    {% csrf_token %}
                                    <label>
                                        <input type="checkbox" name="task_completion"
                                        {% if task.complete and task.complete.task_completion %}
                                        checkbox.checked
                                        {% endif %}>
                                        Task Completed
                                    </label>
                                    <button type="submit" style="display: none;"></button>
                                </form>
                                <script>
                                    document.addEventListener("DOMContentLoaded", function() {
                                        const form = document.getElementById("completion-form-{{ task.id }}");
                                        const checkbox = form.querySelector("[name='task_completion']");
                                        const initialTaskCompletion = form.querySelector("[name='task_completion'], [name='initial_task_completion']").value === '1';
                                        
                                        checkbox.addEventListener("change", function() {
                                            const formData = new FormData(form);
                                            fetch(form.action, {
                                                method: 'POST',
                                                body: formData
                                            })
                                            .then(response => response.json())
                                            .then(data => {
                                                if (data.status === 'success') {
                                                    console.log("Task completion has been changed. - ", data.status);
                                                    checkbox.checked = data.task_completion;
                                                    console.log("Task completion status updated.");

                                                }
                                            })
                                            .catch(error => {
                                                console.error("Error updating task completion:", error);
                                            });
                                        });
                                    });
                                </script>
                            </td>
                            
                            
                            <td>
                                <div class="dropdown" id="dropdown-menu" onclick="toggleDropdown(this)">
                                    <i class="fas fa-ellipsis-v"></i>
                                    <div class="dropdown-content">
                                        <a class="dropdown-item"><button class="delete-button" data-task-id="{{task.pk}}">Delete</button></a>
                                        <button class="pin-button btn btn-primary" data-task-id="{{ task.pk }}" data-pinned="{{ task.pinned }}">
                                            {% if task.pinned %}
                                                Unpin task
                                            {% else %}
                                                Pin task
                                            {% endif %}
                                        </button>
                                        
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>

        <div class="modal" id="deleteModal">
            <div class="modal-content">
                <h2>Confirm Deletion</h2>
                <p>Are you sure you want to delete this task?</p>
                <button id="confirmDeleteBtn">Delete</button>
                <button id="cancelDeleteBtn">Cancel</button>
            </div>
        </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function toggleDropdown(dropdown) {
        dropdown.classList.toggle("active");
    }

        // Add event listener to close dropdown when clicking outside of it
        document.addEventListener("click", function (event) {
        var dropdown = document.getElementById("dropdown-menu");
        var targetElement = event.target;

        // Check if the clicked element is not part of the dropdown
        if (dropdown.contains(targetElement)) {
            return;
        }

        // Close the dropdown
        dropdown.classList.remove("active");
    });
</script>
<script>
    // Toggle form visibility
    $('#toggle-form-btn').click(function() {
        $('#create-form-container').toggle();
    });

    // AJAX form submission
    $(document).on('submit', '#create-form', function(e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: "{% url 'create_task' %}",
            data: $(this).serialize(),
            success: function(response) {
                console.log("Task added successfully.");
                // Clear form fields
                $('#create-form')[0].reset();
                console.log("Form refreshed")
                // Hide the form
                $('#create-form-container').hide();
                console.log("Form hidden.")
                // Reload task list
                refreshTaskList();
                $('link[rel=stylesheet]').each(function() {
               var href = $(this).attr('href');
               $(this).attr('href', href + '?reload=' + new Date().getTime());
               });
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log('Error: ' + errorThrown);
            }
        });
    });

    // Function to refresh task list
    function refreshTaskList() {
        $.get("{% url 'tasks_list' %}", function(data) {
            var taskListBody = $('#task-list tbody');
            taskListBody.html($(data).find('tbody').html());
        });
    }

</script>


<script>

            document.addEventListener("DOMContentLoaded", function() {
            const modal = document.getElementById("deleteModal");
            const confirmDeleteBtn = document.getElementById("confirmDeleteBtn");
            const cancelDeleteBtn = document.getElementById("cancelDeleteBtn");
            let taskIdToDelete;

            document.addEventListener("click", function(event) {
                const target = event.target;
                if (target.classList.contains("delete-button")) {
                    taskIdToDelete = target.dataset.taskId;
                    console.log("Deleting task id:", taskIdToDelete); 
                    modal.style.display = "block";
                }
            });

        cancelDeleteBtn.addEventListener("click", function() {
            modal.style.display = "none";
        });

        confirmDeleteBtn.addEventListener("click", function() {
            if (taskIdToDelete) {
                fetch(`/tasks_list/${taskIdToDelete}/delete/`, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    modal.style.display = "none";
                    window.location.reload();
                })
                console.log("Task deleted.")
                .catch(error => console.error("Error:", error));
            }
        });



        // Helper function to get the CSRF token from cookies
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
        }
    });

</script>


<script>


// Function to handle pin button click
function pinButtonHandler(button) {
    const taskId = button.dataset.taskId;

    fetch(`/pin_task/${taskId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        console.log("Task id:", taskId);
        if (data.status === 'success') {
            console.log("Task changed.");
            const buttonPinned = button.dataset.pinned === 'true';
            refreshPinnedTaskList()
            
            // Update button text and attribute
            button.textContent = buttonPinned ? 'Pin task' : 'Unpin task';
            button.dataset.pinned = !buttonPinned;
            
        }

    })
    .catch(error => {
        console.error('Error toggling pin:', error);
    });
}


    // IMPORTANT: Refresh function not working, after 3 days i give up, can't find the solution to this, pin icon is appearing only after the 
    // page is refreshed

// Function to refresh pinned task list
function refreshPinnedTaskList() {
    console.log("Refreshing pinned task list...");
    $.get("{% url 'tasks_list' %}", function(data) {
        var taskListBody = $('#task-list tbody');
        taskListBody.html($(data).find('tbody').html());

        // Reattach event listeners for pin buttons
        const pinButtons = document.querySelectorAll('.pin-button');
        pinButtons.forEach(button => {
            button.removeEventListener('click', pinButtonHandler);
            button.addEventListener('click', () => pinButtonHandler(button));
        });
    });
}



// Attach event listeners for pin buttons
document.addEventListener("DOMContentLoaded", function() {
    const pinButtons = document.querySelectorAll('.pin-button');
    pinButtons.forEach(button => {
        button.addEventListener('click', () => pinButtonHandler(button));
    });
});
</script>

<script>
        $(document).ready(function() {
        $("#unpin-all-tasks").click(function() {
            $.ajax({
                type: "POST",
                url: "{% url 'unpin_all_tasks' %}",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function(response) {
                    if (response.status === 'success') {
                        refreshUnpinnedTaskList(),
                        console.log("All tasks unpinned successfully.");
                        // You can perform additional actions or refresh the task list here
                    } else {
                        console.error("Error unpinning tasks:", response.error_message);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error("Error unpinning tasks:", errorThrown);
                }
            });
        });
    });
        function refreshUnpinnedTaskList() {
        console.log("Before get method for refresh.")
        $.get("{% url 'tasks_list' %}", function(data) {
            console.log("Inside the refresh function.")
            var taskListBody = $('#task-list tbody');
            console.log("Variable for elements assigned.")
            taskListBody.html($(data).find('tbody').html());
            console.log("After get method for refresh.")
        });
    }
</script>

</script>
</body>
</html>

{%endblock%}
