{% extends 'base.html' %}
{%load static%}


{%block content%} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDL - About</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <section class="about-container">
        <div class="about-content">
            <h1>About Us</h1>
            <p>Welcome to Task Manager, your all-in-one solution for efficient task management and productivity enhancement. We understand the challenges of staying organized in today's fast-paced world, and that's why we've created a tool that simplifies your tasks and empowers you to achieve more.</p>
            <p>Life can be overwhelming with countless tasks, deadlines, and responsibilities. Juggling work, personal life, and everything in between can often leave us feeling stressed and unproductive. That's where Task Manager comes in, providing you with a robust platform to regain control over your time and tasks.</p>
            <Br>
            <p>Our app provides intuitive features for creating, organizing, and tracking your tasks, helping you prioritize your work and make progress towards your goals. Whether you're a professional, student, or simply someone looking to stay on top of your daily responsibilities, Task Manager is here to streamline your life.</p>
                <br>
            <p1>Key Features:</p1>
            <ul>
                <li>Easy task creation and editing</li>
                <li>Deadlines and reminders to stay on track</li>
                <li>Collaboration and team task management</li>
                <li>Customization options for personalization</li>
                <li>Keep track of average tasks done in a week or a day.</li>
            </ul><br>
            <p>We believe that effective task management is the foundation of productivity and success. With Task Manager, you'll experience the freedom to focus on what truly matters, knowing that your tasks are organized and manageable. Say goodbye to missed deadlines, forgotten tasks, and unnecessary stress.</p>
            <p>Experience the power of efficient task management with Task Manager today. Start accomplishing more with less stress and effort. Join our growing community of users who have embraced productivity and organization.</p>
            <p>At Task Manager, we are committed to continually enhancing your experience. We are dedicated to providing regular updates, introducing new features, and listening to your feedback to ensure that our app remains a valuable tool in your daily life. Our mission is to empower you to achieve your goals, stay organized, and find a sense of accomplishment in every completed task.</p>
        </div>
    </section>
</body>
</html>


{%endblock%}